<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # If the requested filename is not a directory,
    RewriteCond %{REQUEST_FILENAME} !-d
    # And if the requested filename is not a file,
    RewriteCond %{REQUEST_FILENAME} !-f
    # Then rewrite the URL to index.php
    RewriteRule ^ index.php [L]
</IfModule>